// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

:root {
  --color-text-primary: #a2a2a2;
  --color-text-secondary: #787878;

  --color-primary: #49bf9d;

  --color-white: #fff;
  --color-white-transparent: rgba(255, 255, 255, 0.5);
  --color-black: #000;
  --color-black-transparent: rgba(0, 0, 0, 0.5);
  --color-grey: #efefef;

  --color-form-background: #f7f7f7;
}

$bp-big: 87.5em; // 1400px
$bp-medium: 62.5em; // 1000px
$bp-small: 31.25em; // 500px
