@charset 'UTF-8';

// 1. Configuration and helpers
@import 'abstracts/variables', 'abstracts/functions', 'abstracts/mixins';

// 2. Base stuff
@import 'base/base', 'base/fonts', 'base/typography', 'base/helpers';

// 3. Layout-related sections
@import 'layout/sidebar', 'layout/header', 'layout/footer', 'layout/page';

// 4. Components
@import 'components/button', 'components/social-block', 'components/project-preview';

// 5. Page-specific styles
@import 'pages/home';
