// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site.
// -----------------------------------------------------------------------------

.header {
  align-self: stretch;
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &__photo-box {
    width: 10rem;
    height: 10rem;
    margin-bottom: 1.5rem;
  }

  &__photo {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }

  &__text {
    font-size: 2rem;
    font-weight: 400;
    color: var(--color-white-transparent);

    span {
      color: var(--color-white);
    }

    @media only screen and (max-width: $bp-medium) {
      br {
        display: none;
      }
    }
  }

  @media only screen and (max-width: $bp-medium) {
    align-items: center;
  }
}
