// -----------------------------------------------------------------------------
// This file contains all styles related to the page layout of the site.
// -----------------------------------------------------------------------------

.page {
  display: block;
  margin-left: 30%;
  width: 70%;
  padding: 12.5rem 5rem 5rem 5rem;

  @media only screen and (max-width: $bp-medium) {
    margin-left: 0;
    width: 100%;
    padding: 3rem;
  }
}
