// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site.
// -----------------------------------------------------------------------------

.sidebar {
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  text-align: right;
  padding: 10rem 5rem 5rem 5rem;

  @include sidebar-background;

  @media only screen and (max-width: $bp-medium) {
    width: 100%;
    height: auto;
    position: relative;
    flex-direction: row;
    padding: 5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}
