.project-preview {
  flex: 0 0 47%;

  &:not(:nth-last-child(-n+2)) {
      margin-bottom: 3rem;
  }

  &__image-box {
    border-radius: 0.5rem;
    overflow: hidden;
    margin-bottom: 1.5rem;
    position: relative;
  }

  &__image {
    width: 100%;
    display: block;
  }

  &__title {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--color-text-secondary);
  }

  &__description {
    font-size: 1.4rem;
  }

  &__image-caption {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease-out;
  }

  &__image-box:hover > &__image-caption {
    opacity: 1;
  }
}
