.social-block {
  list-style: none;
  color: var(--color-white-transparent);
  display: flex;
  justify-content: space-between;

  &__item:not(:last-child) {
    margin-right: 0.5rem;

    @media only screen and (max-width: $bp-medium) {
      margin-right: 2rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      color: inherit;
      text-decoration: none;
      transition: all 0.2s;
    }

    &:hover,
    &:active {
      color: var(--color-primary);
    }
  }

  &__icon {
    width: 3rem;
    height: 3rem;
    fill: currentColor;
  }
}
