// -----------------------------------------------------------------------------
// This file contains basic typography style for copy text.
// -----------------------------------------------------------------------------

body {
  color: var(--color-text-primary);
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
}

.header-primary {
  color: var(--color-text-secondary);
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 4rem;
}

.header-secondary {
  color: var(--color-text-secondary);
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

.paragraph {
  @supports (hyphens: auto) or (-webkit-hyphens: auto) or (-moz-hyphens: auto) {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
  }
}
