// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.section-about {
  padding-bottom: 4rem;

  @media only screen and (max-width: $bp-small) {
    padding-bottom: 2rem;
  }
}

.section-work,
.section-contact {
  margin-top: 4rem;
  border-top: 2px solid var(--color-grey);
  padding: 4rem 0;

  @media only screen and (max-width: $bp-small) {
    margin-top: 2rem;
    padding: 2rem 0;
  }
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 4rem;
}
